@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image:linear-gradient(to right,#88B5BF,#4C6C73) ;
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    width: 600px;
    padding: 10px;
    margin:auto;
}
h1{
   color: #4C6C73;
   text-align: center;
   text-shadow: 1px 1px 2px black;
}
h2 {
    color: #88B5BF;
}
p{
    text-align: justify;
}